<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        
    </style>
</head>
<body>
<h2>Hi, you have successfully submitted your request for <%= data.who %> at <%= data.department %> department</h2>
<h3>We will reply you at <%= data.email %></h3>
   
</body>
</html>